
<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="daylight('yellow', this)">Morning</div>
    <div class="box col-md-3 col-md-offset-1"  onclick="daylight('orange', this)">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1"  onclick="daylight('black', this)">Evening</div>
  </div>
</div>
