<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick=" ClickAllTheBoxes(boxClick_1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick=" ClickAllTheBoxes(boxClick_2)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick=" ClickAllTheBoxes(boxClick_3)"> </div>
  </div>
  
</div>
